{% extends 'base.html' %}
{% block content %}
<section class='border'>

<h1 class='headings'>{{ pet.name }}</h1>
<ul>
    <li><b>ID: </b>{{ pet.id }}</li>
    <li><b>Owner: </b>{{ pet.owner.first_name }} {{pet.owner.last_name}}</li>
    <li><b>Vet: </b>{{ pet.vet.first_name }} {{pet.vet.last_name}}</li>
    <li><b>Age: </b>{{ pet.age }}</li>
    <li><b>Type: </b>{{ pet.type }}</li>
    <li><b>Issues: </b>{{ pet.issues }}</li>
    <li><b>Notes: </b>{{ pet.notes }}</li>
</ul>
<form action='/pets/{{pet.id}}/delete' method='GET'>
    <button class='delete-button'>Delete</button>
</form>

<form action='/pets/{{pet.id}}/edit' method='GET'>
    <button class='edit-button'>Edit</button>
</form>
</section>
{% endblock %}