{% extends 'base.html' %}
{% block content %}
<section class='border'>

<h1 class='titles'>Edit Owner</h1>

<form action='/owners/{{ owner.id }}/update' method='post'>
    <div>
        <label for='first_name'>First Name</label>
        <input type='text' value={{ owner.first_name }} name='first_name' placeholder='{{ owner.first_name }}' autofocus>
    </div>
    <div>
        <label for='last_name'>Last Name</label>
        <input type='text' value={{ owner.last_name }} name='last_name' placeholder='{{ owner.last_name }}'>
    </div>
    <div>
        <label for='address'>Address</label>
        <input type='text' value={{ owner.address}} name='address' placeholder='{{ owner.address }}'>
    </div>
    <div>
        <label for='contact'>Contact</label>
        <input type='text' value={{ owner.contact }} name='contact' placeholder='{{ owner.contact }}'>
    </div>

    <!-- Owner Active Button to go here -->
    <!--<input type='checkbox' name='active' {% if owner.active %}checked{% endif %}>-->
    <!-- Checkbox not working-->


    <label for='active'>User Active</label>
    <select id="active" name="active">
        <option value="true"
        {% if owner.active %} selected='selected' {% endif %}>True</option>
        <option value="false"
        {% if owner.active == False %} selected='selected' {% endif %}>False</option>
    </select>


    <button type='submit'>Update Owner</button>
</form>
</section>

{% endblock %}