{% extends 'base.html' %}
{% block content %}

<section class='border'>

<h1>{{ owner.first_name }} {{owner.last_name}}</h1>



<h1>Owner Active: <i class="fa-solid fa-check"></i>
    {% if owner.active %}
        <p>True</p>
    {% elif owner.active == False %}
       <p>False</p>
    {% endif %}



<h1>Address</h1>
<p>{{ owner.address }}</p>
<h1>Contact</h1>
<p>{{ owner.contact }}</p>
<h1>Pet(s)</h1>
{% for pet in pets %}
    {% if pet.owner.id == owner.id %}
        <p>{{ pet.name }} - {{pet.type}}</p>
    {% endif %}
{% endfor %}
<form action='/owners/{{owner.id}}/delete' method='POST'>
    <button class='delete-button'>Delete</button>
</form>
<form action='/owners/{{owner.id}}/edit' method='GET'>
    <button class='edit-button'>Edit</button>
</form>
</section>
{% endblock %}