{% extends 'base.html' %}
{% block content %}

<section class='border'>

<h1>{{ owner.first_name }} {{owner.last_name}}</h1>
<h1>Address</h1>
<p>{{ owner.address }}</p>
<h1>Contact</h1>
<p>{{ owner.contact }}</p>
<h1>Pet(s)</h1>
{% for pet in pets %}
    {% if pet.owner.id == owner.id %}
        <p>{{ pet.name }} - {{pet.type}}</p>
    {% endif %}
{% endfor %}
<form action='/owners/{{owner.id}}/delete' method='POST'>
    <button class='delete-button'>Delete</button>
</form>
</section>
{% endblock %}