:root {
  --darkestblue: #0a2647;
  --midnight: #144272;
  --sea: #205295;
  --sky: #2c74b3;
  --lightblue: #64a8e4;
  --orange: #ff8b13;
}

.base-nav {
  border: solid var(--darkestblue);
  border-radius: 20px;
  box-shadow: 15px 15px rgba(10, 38, 71, 0.7);
  background-image: linear-gradient(to right, var(--sky), var(--darkestblue));
}

.nav-list a:visited {
    color: var(--orange);
}

.nav-list {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: underline;
}

.block-section {
  text-align: center;
  border: solid var(--darkestblue);
  border-radius: 20px;
  margin-top: 70px;
  padding: 0 0px 30px 30px;
  box-shadow: 15px 15px rgba(10, 38, 71, 0.7);
  background-color: #ffffff;
}

body {
    height: 1400px;
  margin: 50px 70px 50px 70px;
  font-family: "Roboto Slab", serif;
  background-image: linear-gradient(#ffffff, var(--lightblue));
  background-size: cover;
  background-repeat: no-repeat;
}

#vet-title {
  font-size: 70px;
  text-decoration: underline var(--orange);
}

.headings {
  font-size: 25px;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--midnight);
}

a:active {
  color: var(--orange);
}

a:hover {
  color: #2c74b3;
  text-decoration: underline var(--orange);
}

.view-owners {
  border: solid var(--orange);
  border-radius: 20px;
  margin: 30px 30px 30px 0;
}

.box-test {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: 10px;
}

.box-test .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

