:root {
  --darkestblue: #0a2647;
  --midnight: #144272;
  --sea: #205295;
  --sky: #2c74b3;
  --lightblue: #64a8e4;
  --orange: #ff8b13;
}

.base-nav {
  border: solid var(--darkestblue);
  border-radius: 20px;
  box-shadow: 15px 15px rgba(10, 38, 71, 0.7);
  background-image: linear-gradient(to right, var(--sky), var(--darkestblue));
}

.nav-list {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: underline;
}

#a {
  transition: all 0.7s;
}

#a:hover {
  text-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 35px;
}

.block-section {
  text-align: center;
  border: solid var(--darkestblue);
  border-radius: 20px;
  margin-top: 70px;
  padding: 30px;
  box-shadow: 15px 15px rgba(10, 38, 71, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
}

body {
    height: 100%;
  min-height: 1000px;
  margin: 50px 70px 50px 70px;
  font-family: "Roboto Slab", serif;
  background-image: linear-gradient(#ffffff, var(--lightblue));
  /* background-size: cover; */
  background-repeat: no-repeat;
}

#vet-title {
  font-size: 70px;
  text-decoration: underline var(--orange);
}

#a, a{
  text-decoration: none;
  color: var(--sky);
}

#a, a:visited {
  color: var(--lightblue);
}

#a, a:active {
  color: var(--orange);
}

a:hover {
  color: #2c74b3;
  text-decoration: underline var(--orange);
}

.view-owners {
  border: solid var(--orange);
  border-radius: 20px;
  margin: 30px 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5px 0 5px;
}

.box-test {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: 10px;
}

.box-test .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.owner-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.add-owner-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add-buttons {
  margin-top: 20px;
}



.titles {
  text-decoration: underline var(--orange) 3px;
  font-size: 40px;
  transition: all 1s;
}

.titles:hover {
  text-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}


#main-bg-image {
  width: 50%;
  position: relative;
  border-radius: 50px;
}

