:root {
    --babyblue:#C3E0E5;
    --darkblue:#274472;
    --bluegrey:#5885AF;
    --midnightblue:#41729F;

}


* {
    font-family: sans-serif;
    margin: 10px;
}

.nav-list {
    border: solid black 2px ;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 25px;
    font-size: 25px;
    list-style: none;
}


#main-page {
    border: solid black 2px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    min-height: 600px;
    background-image: url('images/gray-puppy-vet.png');

}

#bg-image {
    /* background-image: url('images/gray-puppy-vet.png'); */
}

#vet-title {
    font-size: 60px;
    padding-bottom: 50px;
}


.border {
    border: solid black 2px;
    border-radius: 10px;
    padding-left: 50px;
}

.nav-list a:link, a:link {
    color: var(--midnightblue);    
}

.nav-list a:visited, a:visited {
    color: var(--darkblue);
}



.nav-list a:hover, a:hover {
    color: var(--midnightblue);
}

